*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

/* *********************************************** *//* ************************************************* */
/* ****************************************** ROBE GENERALI ********************************************* */
/* *********************************************** *//* ************************************************* */

body {
  font-family: 'Montserrat', sans-serif;
  /* color: #073C5A; */
  color: #0a2738;
  background-image: linear-gradient(to bottom, #073C5A, 15vh, #d2dbdc 15vh, #EFF3F2 100%);

}

.clearfix:after{
  content: "";
  display: table;
  clear: both;
}

a {
  text-decoration: none;
  color: #0a2738;
}
.anchor{
  position: relative;
}
/* a:hover, a:active, a:focus {
    color: #073C5A;
    text-shadow: 1px 1px #000;
} */

.container {
  margin-top: 25px;
  margin-bottom: 25px;
}

.thinText{
  font-size: 15px;
  font-weight: 300;
}

/* *********************************************** *//* ************************************************* */
/* ***************************************** HEADER ******************************************* */
/* *********************************************** *//* ************************************************* */

header {
  width: 100%;
  max-width: 1300px;
  background-color: #EFF3F2;
  /* color: #EFF3F2; */
  color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  font-weight: 800;
  position: relative;
}

.identity {
  height: 100%;
  display: flex;
  justify-content: center;
}

.nameRole {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #0a2738;
  border-top-left-radius: 15px;
  height: 180px;
  width: 70%;
  padding: 50px;
}

.nameRole h1 {
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 0;
}
.nameRole h2 {
  font-size: 20px;
  font-weight: 300;
}

.photoId {
  width: 30%;
  height: 180px;
  background-color: #0a2738;
  border-left: 75px solid transparent;
  border-bottom: 180px solid #EFF3F2;
  border-top-right-radius: 15px;
}

.photoId img{
  border-radius: 50%;
  max-width: 160px;
  width: 100%;
  height: auto;
  margin: 10px;
}

/* *********************************************** *//* ************************************************* */
/* ***************************************** SEZIONE PRINCIPALE ***************************************** */
/* *********************************************** *//* ************************************************* */
main {
  background-color: #EFF3F2;
}

main i {
  color: #073C5A;
}
p{
  margin-bottom: 0;
}
/*//////////////////////////////// ESPERIENZE ////////////////////////// */
.esperienze {
  margin-top: 30px;
  text-align: justify;
  /* hyphens: auto; */
}
.esperienze h3{
  font-weight: bold;
  margin-left: 5%;
}
.esperienze h5{
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0;
}
.esperienze span{
  display: inline-block;
  font-size: 14px;
  font-weight: 200;
  margin: 5px 0;
}

.demia,
.booleanTrainee,
.panDelMarco,
.adPower{
  width: 90%;
  padding-top: 5px;
  padding-bottom: 15px;
  margin-left: 5%;
}

.panDelMarco{
  position: relative;
}

.adPower a img{
  position: absolute;
  top: 3px;
  left: 170px;
}
.demia a img{
  position: absolute;
  top: -1px;
  left: 295px;
}

.booleanTrainee a img{
  position: absolute;
  top: 3px;
  left: 140px;
}
.adPower a:hover p{
  background: -webkit-linear-gradient(0deg,#000000,#fa0000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 165px;
}
.demia a:hover p{
  background: -webkit-linear-gradient(180deg,#f9b000, #ff8925, #ff5f44, #ff3361, #e6007e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 295px;
}
.booleanTrainee a:hover p{
  background: -webkit-linear-gradient(0deg,#0cd977,#006cfa, #001632);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 135px;
}
.panDelMarco a:hover p{
  background: -webkit-linear-gradient(0deg,#ffea2b,#f9b000, #ff8925);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 130px;
}

.panDelMarco:after{
  display: block;
  content: "";
  padding-bottom: 20px;
}
.logoPanDelMarco{
  position: absolute;
  top: 30px;
  left: 155px;
  display: flex;
  flex-direction: column;
}
.logoPanDelMarco .logoIPM{
  width: 50px;
  position: absolute;
  top: 0;
  left: 0;
}
.logoPanDelMarco .logoGrande{
  width: 50px;
  position: absolute;
  top: 10px;
  left: -1px;
}

/*//////////////////////////////// FORMAZIONE ////////////////////////// */
.formazione {
  margin: 0;
  text-align: justify;
  /* hyphens: auto; */
}
.formazione h3{
  font-weight: bold;
  margin-left: 5%;
}
.formazione h5{
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0;
}
.formazione span{
  display: inline-block;
  font-size: 14px;
  font-weight: 200;
  margin: 5px 0;
}
.formazione p{
  font-weight: 300;
}
.itemFormazione{
  width: 45%;
  padding-top: 5px;
  padding-bottom: 15px;
  margin-left: 5%;
}
.itemFormazione img{
  margin-left: 5px;
}
/*//////////////////////////////// FORMAZIONE ////////////////////////// */
.skills{
  margin-top: 15px;
}
.skills h3{
  font-weight: bold;
  margin-left: 5%;
}
.skills ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-left: 5%;
  padding: 0;
  width: 90%;
}
 .skills ul li {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  min-width: 100px;
  vertical-align: middle;
  font-size: 14px;
  font-weight: 300;
}
.skills ul li img {
    height: 50px;
    margin-bottom: 5px;
    max-width: 60px;
    width: auto;
    vertical-align: middle;
}
/* *********************************************** *//* ************************************************* */
/* **************************************** SEZIONE ALTRO ***************************************+ */
/* *********************************************** *//* ************************************************* */
.about {
  margin-top: 30px;
  margin-bottom: 15px;
  text-align: justify;
  hyphens: auto;
}
.contatti {
  margin: 0;
  text-align: justify;
  hyphens: auto;
}
.contatti i{
    color: #073C5A;
    margin-right: 4px;
}
.sezioneDestra h3{
  font-weight: bold;
  margin-left: 10%;
}
.about p,
.lingue p{
  width: 80%;
  padding-top: 5px;
  padding-bottom: 15px;
  margin-left: 10%;
}
.lingue p{
  width: 80%;
  padding: 13px 0;
  margin-left: 10%;
  margin-bottom: 1rem;
}
.about span{
  font-weight: 500;
}
.contatti ul,
.softSkill ul{
  width: 80%;
  padding: 13px 0;
  margin-left: 10%;
}


/* *********************************************** *//* ************************************************* */
/* **************************************** FOOTER ***************************************+ */
/* *********************************************** *//* ************************************************* */
footer {
  width: 100%;
  max-width: 1300px;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  background-color:#EFF3F2 ;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.footerDecoration{
  width: 30%;
  margin-left: 70%;
  height: 40px;
  border-left: 19px solid transparent;
  border-bottom: 40px solid #0a2738;
  border-bottom-right-radius: 15px;
}
/* *********************************************** *//* ************************************************* */
/* *************************************** AGGIUNTA DI MEDIAQUERY *************************************** */
/* *********************************************** *//* ************************************************* */

/* LARGHEZZA */

@media all and (max-width: 767px){
    .nameRole {
      background-color: #0a2738;
      height: 150px;
      width: 70%;
      padding: 30px;
    }
    .nameRole h1 {
      font-size: 32px;
    }
    .nameRole h2 {
      font-size: 18px;
    }

    .photoId {
      width: 30%;
      height: 150px;
      background-color: #0a2738;
      border-left: 75px solid transparent;
      border-bottom: 150px solid #EFF3F2;
    }

    .photoId img{
      width: 100px;
      position: absolute;
      top: 20px;
      right: 0px;
      border: 1px #EFF3F2 solid;
    }
    .sezioneDestra h3{
      margin-left: 5%;
    }
    .about p,
    .lingue p{
      width: 90%;
      margin-left: 5%;
    }
    .lingue p{
      width:90%;
      margin-left: 5%;
    }
    .contatti ul,
    .softSkill ul{
      width: 90%;
      margin-left: 5%;
    }
    .itemFormazione{
      width: 90%;
      padding-top: 5px;
      padding-bottom: 15px;
      margin-left: 5%;
    }
    .skills ul {
     justify-content: center;
   }
}

@media all and (min-width: 768px) and (max-width: 992px){
  .nameRole {
      background-color: #0a2738;
      height: 150px;
      width: 70%;
      padding: 30px;
    }
    .nameRole h1 {
      font-size: 35px;
    }
    .nameRole h2 {
      font-size: 18px;
    }

    .photoId {
      width: 30%;
      height: 150px;
      background-color: #0a2738;
      border-left: 75px solid transparent;
      border-bottom: 150px solid #EFF3F2;
    }

    .photoId img{
      width: 120px;
      position: absolute;
      top: 10px;
      right: 15px;
      border: 1px #EFF3F2 solid;
    }
    .itemFormazione{
      width: 90%;
      padding-top: 5px;
      padding-bottom: 15px;
      margin-left: 5%;
    }
}
